{{#each this}}

<h1 class="country-info__title"> <img src="{{flag}}" alt="{{name}}" width="100px">{{name}}</h1>
<ul class="country-info__list">
    <li class="country-info__item">capital: {{capital}}</li>
    <li class="country-info__item">population: {{population}}</li>
    <li class="country-info__item"> languages:
        {{#each languages}}
        <span>{{this.name}}</span>
        {{/each}}
    </li>
</ul>
{{/each}}